In [1]:
CREATE OR REPLACE TEMPORARY VIEW dns
USING org.apache.spark.sql.parquet
OPTIONS (
  path "s3a://data/dns/"
)

Loading spark

Empty DataFrame
Columns: []
Index: []

In [2]:
CREATE OR REPLACE TEMPORARY VIEW dns_history
USING org.apache.spark.sql.parquet
OPTIONS (
  path "s3a://test/temp/dns_history/"
)

Empty DataFrame
Columns: []
Index: []

In [9]:
CREATE OR REPLACE TEMPORARY VIEW dns_report
AS
SELECT count(DISTINCT user) users, count(*) resolutions, CAST(date as Date) AS date
FROM dns
WHERE date >= date_add(current_date(), -3)
GROUP BY date

Empty DataFrame
Columns: []
Index: []

In [10]:
INSERT OVERWRITE DIRECTORY "s3a://test/temp/dir1"
USING parquet
SELECT users, resolutions, CAST(date as Date) AS date FROM dns_history WHERE date < date_add(current_date(), - IF("${env:S3_ACCESS_KEY}" IS NOT NULL, 3, 3))
UNION ALL
SELECT * FROM dns_report

Empty DataFrame
Columns: []
Index: []

In [11]:
CREATE OR REPLACE TEMPORARY VIEW dir1
USING org.apache.spark.sql.parquet
OPTIONS (
  path "s3a://test/temp/dir1"
)

Empty DataFrame
Columns: []
Index: []

In [14]:
INSERT OVERWRITE DIRECTORY "s3a://test/temp/dns_history/"
USING parquet
SELECT * FROM dir1

Empty DataFrame
Columns: []
Index: []