In [31]:
CREATE OR REPLACE TEMPORARY VIEW dns
USING org.apache.spark.sql.parquet
OPTIONS (
  path "s3a://data/dns/"
)

Empty DataFrame
Columns: []
Index: []

In [32]:
CREATE OR REPLACE TEMPORARY VIEW dns_history
USING org.apache.spark.sql.parquet
OPTIONS (
  path "s3a://test/temp/dns_history/"
)

Empty DataFrame
Columns: []
Index: []

In [33]:
CREATE OR REPLACE TEMPORARY VIEW dns_report
AS
SELECT count(DISTINCT user) users, count(*) resolutions, date
FROM dns
WHERE date >= date_add(current_date(), -3)
GROUP BY date

Empty DataFrame
Columns: []
Index: []

In [34]:
INSERT OVERWRITE DIRECTORY "s3a://test/temp/dir1"
USING parquet
SELECT * FROM dns_history WHERE date < date_add(current_date(), - IF("${env:S3_ACCESS_KEY}" IS NOT NULL, 3, 3))
UNION ALL
SELECT * FROM dns_report

Empty DataFrame
Columns: []
Index: []

In [35]:
CREATE OR REPLACE TEMPORARY VIEW dir1
USING org.apache.spark.sql.parquet
OPTIONS (
  path "s3a://test/temp/dir1"
)

Empty DataFrame
Columns: []
Index: []

In [36]:
INSERT OVERWRITE DIRECTORY "s3a://test/temp/dns_history/"
USING parquet
SELECT * FROM dir1

Empty DataFrame
Columns: []
Index: []