In [ ]:
SELECT count(*) FROM dns_month WHERE date = date_add(current_date(), -2)

In [ ]:
SELECT "${d}",
'asd'

In [ ]:
CREATE OR REPLACE TEMPORARY VIEW dns_month
USING org.apache.spark.sql.parquet
OPTIONS (
  path "s3a://data/dns/"
)

In [ ]:
CREATE TABLE IF NOT EXISTS dns_history
USING JDBC
OPTIONS (
  url "jdbc:postgresql://10.1.51.40/metabaseappdb",
  dbtable "dns_history",
  user "postgres",
  password "GR8cNwuKZyxMs8zHCePU"
)

In [ ]:
CREATE TABLE IF NOT EXISTS dns_history2
USING JDBC
OPTIONS (
  url "jdbc:postgresql://10.1.51.40/metabaseappdb",
  dbtable "dns_history1",
  createTableOptions "CREATE TABLE IF NOT EXISTS dns_history1 (dmn VARCHAR(500), cnt INT)",
  user "postgres",
  password "GR8cNwuKZyxMs8zHCePU"
)

In [ ]:
INSERT INTO dns_history (
    SELECT 
        domain AS dmn, 
        count(*) AS cnt 
    FROM dns_month 
    GROUP BY domain 
    ORDER BY count(*) DESC
    LIMIT 100
)

In [ ]:
INSERT INTO tablename VALUES("asd", "2")

In [ ]:
DROP TABLE IF EXISTS dns_history1;

In [ ]:
CREATE TABLE core_user1 LIKE dns_month
USING JDBC
OPTIONS (
  url "jdbc:postgresql://10.1.51.40/metabaseappdb",
  dbtable "dns_month",
  user "postgres",
  password "GR8cNwuKZyxMs8zHCePU"
)

In [ ]:
SELECT * FROM core_user1

In [ ]:
CREATE EXTERNAL TABLE tbl (hive_bigints INT)
STORED AS PARQUET LOCATION 's3a://data/dns1/'

In [ ]:
INSERT OVERWRITE DIRECTORY 's3a://data/temp/destination'
    USING parquet
    SELECT * FROM dns_month;

In [ ]:
INSERT OVERWRITE DIRECTORY
    USING JDBC
    OPTIONS (
      url "jdbc:postgresql://10.1.51.40/metabaseappdb",
      dbtable "dns_month",
      user "postgres",
      password "GR8cNwuKZyxMs8zHCePU"
    )
    SELECT 
        domain AS dmn, 
        count(*) AS cnt 
    FROM dns_month 
    GROUP BY domain 
    ORDER BY count(*) DESC
    LIMIT 100;

In [ ]:
CREATE TABLE IF NOT EXISTS dest
USING parquet
LOCATION 's3a://data/temp/destination'

In [ ]:
SELECT count(*) FROM dest

In [ ]:
INSERT INTO dest VALUES ("asd", "asd", 3)

In [ ]:
DROP TABLE IF EXISTS dest

In [ ]:
INSERT INTO dns_history VALUES ("asd", 3)

In [ ]:
SELECT * FROM dns_month

In [1]:
%python
1+1

2