In [35]:
SELECT count(*) FROM dns_month WHERE date = date_add(current_date(), -2)

   count(1)
0  68504638

In [23]:
SELECT "${d}",
'asd'

   date_add(current_date(), -1)  asd
0  date_add(current_date(), -1)  asd

In [32]:
CREATE OR REPLACE TEMPORARY VIEW dns_month
USING org.apache.spark.sql.parquet
OPTIONS (
  path "s3a://data/dns/"
)

Empty DataFrame
Columns: []
Index: []

In [10]:
CREATE TABLE IF NOT EXISTS dns_history
USING JDBC
OPTIONS (
  url "jdbc:postgresql://10.1.51.40/metabaseappdb",
  dbtable "dns_history",
  user "postgres",
  password "GR8cNwuKZyxMs8zHCePU"
)

Empty DataFrame
Columns: []
Index: []

In [50]:
CREATE TABLE IF NOT EXISTS dns_history2
USING JDBC
OPTIONS (
  url "jdbc:postgresql://10.1.51.40/metabaseappdb",
  dbtable "dns_history1",
  createTableOptions "CREATE TABLE IF NOT EXISTS dns_history1 (dmn VARCHAR(500), cnt INT)",
  user "postgres",
  password "GR8cNwuKZyxMs8zHCePU"
)

Py4JJavaError: An error occurred while calling o56.sql.
: org.postgresql.util.PSQLException: ERROR: relation "dns_history1" does not exist
  Position: 15
	at org.postgresql.core.v3.QueryExecutorImpl.receiveErrorResponse(QueryExecutorImpl.java:2676)
	at org.postgresql.core.v3.QueryExecutorImpl.processResults(QueryExecutorImpl.java:2366)
	at org.postgresql.core.v3.QueryExecutorImpl.execute(QueryExecutorImpl.java:356)
	at org.postgresql.jdbc.PgStatement.executeInternal(PgStatement.java:496)
	at org.postgresql.jdbc.PgStatement.execute(PgStatement.java:413)
	at org.postgresql.jdbc.PgPreparedStatement.executeWithFlags(PgPreparedStatement.java:190)
	at org.postgresql.jdbc.PgPreparedStatement.executeQuery(PgPreparedStatement.java:134)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCRDD$.getQueryOutputSchema(JDBCRDD.scala:68)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCRDD$.resolveTable(JDBCRDD.scala:58)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCRelation$.getSchema(JDBCRelation.scala:242)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcRelationProvider.createRelation(JdbcRelationProvider.scala:37)
	at org.apache.spark.sql.execution.datasources.DataSource.resolveRelation(DataSource.scala:350)
	at org.apache.spark.sql.execution.command.CreateDataSourceTableCommand.run(createDataSourceTables.scala:79)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult$lzycompute(commands.scala:75)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult(commands.scala:73)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.executeCollect(commands.scala:84)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.$anonfun$applyOrElse$1(QueryExecution.scala:98)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$6(SQLExecution.scala:109)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:169)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:95)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:779)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:64)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:98)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:94)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$transformDownWithPruning$1(TreeNode.scala:584)
	at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(TreeNode.scala:176)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDownWithPruning(TreeNode.scala:584)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.org$apache$spark$sql$catalyst$plans$logical$AnalysisHelper$$super$transformDownWithPruning(LogicalPlan.scala:30)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning(AnalysisHelper.scala:267)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning$(AnalysisHelper.scala:263)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:30)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:30)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDown(TreeNode.scala:560)
	at org.apache.spark.sql.execution.QueryExecution.eagerlyExecuteCommands(QueryExecution.scala:94)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted$lzycompute(QueryExecution.scala:81)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted(QueryExecution.scala:79)
	at org.apache.spark.sql.Dataset.<init>(Dataset.scala:220)
	at org.apache.spark.sql.Dataset$.$anonfun$ofRows$2(Dataset.scala:100)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:779)
	at org.apache.spark.sql.Dataset$.ofRows(Dataset.scala:97)
	at org.apache.spark.sql.SparkSession.$anonfun$sql$1(SparkSession.scala:622)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:779)
	at org.apache.spark.sql.SparkSession.sql(SparkSession.scala:617)
	at jdk.internal.reflect.GeneratedMethodAccessor197.invoke(Unknown Source)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:568)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:833)

In [51]:
INSERT INTO dns_history (
    SELECT 
        domain AS dmn, 
        count(*) AS cnt 
    FROM dns_month 
    GROUP BY domain 
    ORDER BY count(*) DESC
    LIMIT 100
)

Empty DataFrame
Columns: []
Index: []

In [ ]:
INSERT INTO tablename VALUES("asd", "2")

In [ ]:
DROP TABLE IF EXISTS dns_history1;

In [ ]:
CREATE TABLE core_user1 LIKE dns_month
USING JDBC
OPTIONS (
  url "jdbc:postgresql://10.1.51.40/metabaseappdb",
  dbtable "dns_month",
  user "postgres",
  password "GR8cNwuKZyxMs8zHCePU"
)

In [ ]:
SELECT * FROM core_user1

In [ ]:
CREATE EXTERNAL TABLE tbl (hive_bigints INT)
STORED AS PARQUET LOCATION 's3a://data/dns1/'

In [ ]:
INSERT OVERWRITE DIRECTORY 's3a://data/temp/destination'
    USING parquet
    SELECT * FROM dns_month;

In [ ]:
INSERT OVERWRITE DIRECTORY
    USING JDBC
    OPTIONS (
      url "jdbc:postgresql://10.1.51.40/metabaseappdb",
      dbtable "dns_month",
      user "postgres",
      password "GR8cNwuKZyxMs8zHCePU"
    )
    SELECT 
        domain AS dmn, 
        count(*) AS cnt 
    FROM dns_month 
    GROUP BY domain 
    ORDER BY count(*) DESC
    LIMIT 100;

In [36]:
CREATE TABLE IF NOT EXISTS dest
USING parquet
LOCATION 's3a://data/temp/destination'

Empty DataFrame
Columns: []
Index: []

In [37]:
SELECT count(*) FROM dest

   count(1)
0  67102354

In [42]:
INSERT INTO dest VALUES ("asd", "asd", 3)

Empty DataFrame
Columns: []
Index: []

In [34]:
DROP TABLE IF EXISTS dest

Empty DataFrame
Columns: []
Index: []

In [46]:
INSERT INTO dns_history VALUES ("asd", 3)

Empty DataFrame
Columns: []
Index: []

In [ ]:
SELECT * FROM dns_month