In [1]:
SELECT 1

Loading spark

   1
0  1

In [3]:
CREATE OR REPLACE TEMPORARY VIEW tp_beeshake_history
USING parquet
OPTIONS
(
    path "s3a://analytics/team/mysql/beeline_api/tp_beeshake_history"
)

Empty DataFrame
Columns: []
Index: []

In [20]:
CREATE OR REPLACE TEMP VIEW report_query AS
SELECT CAST(beeshake_date as Date) AS beeshake_date, operator, count(*)
FROM tp_beeshake_history
GROUP BY CAST(beeshake_date as Date), operator

Empty DataFrame
Columns: []
Index: []

In [23]:
INSERT OVERWRITE DIRECTORY "s3a://test/daily_shakes"
USING parquet
SELECT * FROM report_query

Empty DataFrame
Columns: []
Index: []